/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-SegoeUi: 'Inter', serif;
    --fonte-Poppins: "Poppins", serif;
    --fonte-BebasNeue: "Bebas Neue", serif;
    --fonte-NunitoSans: "Nunito Sans", serif;
    --fonte-Montserrat: "Montserrat", serif;
    --fonte-Roboto: 'Roboto', serif;
    --fonte-OpenSans: 'Open Sans', serif;
    --fonte-Ralewal: "Raleway", serif;
}

.sessao-inicial{
    margin-top: 74px;
}
.carousel-caption{
    top: 0;
}
.carousel-caption h2{
    font-family: var(--fonte-Ralewal);
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
}
.carousel-caption h1{
    font-family: var(--fonte-Ralewal);
    font-size: 2rem;
    font-weight: 300;
    width: 75%;
}
.carousel-caption p{
    font-family: var(--fonte-OpenSans);
    font-size: 1rem;
    font-weight: 300;
}

.btns-banner-inicial a{
    text-decoration: none;
    transition: 0.3s;
}

.btn-abrir-empresa{
    font-family: var(--fonte-Ralewal);
    background: #FDA52D;
    border: 1px solid transparent;
    color: black;
    font-weight: 600;
}
.btn-abrir-empresa:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

@media (max-width: 992px) {
    .sessao-inicial{
        margin-top: 74px;
    }

    .carousel-caption h2{
        font-size: 1rem;
        width: 100%;
    }
    .carousel-caption h1{
        font-size: 1rem;
        width: 100%;
    }
    .carousel-caption p{
        font-size: 0.7rem;
    }
    .btn-abrir-empresa{
        font-size: 0.8rem;
    }
}