/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-SegoeUi: 'Inter', serif;
    --fonte-Poppins: "Poppins", serif;
    --fonte-BebasNeue: "Bebas Neue", serif;
    --fonte-NunitoSans: "Nunito Sans", serif;
    --fonte-Montserrat: "Montserrat", serif;
    --fonte-Roboto: 'Roboto', serif;
    --fonte-OpenSans: 'Open Sans', serif;
    --fonte-Ralewal: "Raleway", serif;
}

.conntent1-passos{
    font-family: var(--fonte-Ralewal);
}

.conntent1-passos .passo1{
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    font-weight: 800;
}
.conntent1-passos .passo2{
    background-color: #B1B1B1;
    color: black;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    font-weight: 800;
}

.conntent1-passos h2{
    font-weight: 800;
}

.conntent1-passos h3{
    font-weight: 800;
    color: #FDA52D;
}

.card-passo{
    border: 3px solid #FDA52D;
}

.bts-passos{
    background-color: #FDA52D;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    border: 1px solid transparent;
}
.bts-passos:hover{
    border: 1px solid #FDA52D;
    color: #FDA52D;
    background-color: transparent;
}